In [12]:
import pandas as pd
import pickle
df = pd.read_csv("E://DS/award.csv")
X_train = df[['Gender','Age','Percentage']]
y_train = df['Award']
df.head()

   Gender  Age  Percentage  Award
0       1   30          41      0
1       0   33          64      0
2       1   26          67      1
3       1   35          65      0
4       0   25          84      1

In [13]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
lr = LogisticRegression()
lr.fit(X_train,y_train)

pickle.dump(lr,open('lr_model.pkl','wb'))

In [15]:
lrs = pickle.load(open('lr_model.pkl','rb'))
print('Model Performance =',round(accuracy_score(y_train, lrs.predict(X_train))*100,2),'%')

Model Performance = 84.21 %